@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  border-radius: 6px;
  background: #7EBDE5;
  /*box-shadow: 0p x 12px 54px 0px rgba(78, 69, 62, 0.27);*/
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Chakra Petch;
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h2 {
  color: #FFF;
  font-family: Inter, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h3 {
  color: #FFF;
  font-family: Inter, serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h4 {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

button {
  color: #FFF;
  font-family: Chakra Petch;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav_text{
  font-family: Chakra Petch, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  color: white;
  line-height: normal;
}
.nav_background{
  border-radius: 6px 6px 0px 0px;
  background: #99c9ea;
}
.purpleFade {
  width: 447px;
  height: 540px;
  flex-shrink: 0;
  opacity: 0.50;
  background: #554688;
  filter: blur(100px);
}
.pinkFade {
  width: 447px;
  height: 540px;
  flex-shrink: 0;
  opacity: 0.30;
  background: #EA3381;
  filter: blur(100px);
}

.purpleGradient {
  background: linear-gradient(105deg, #554688 12.57%, #343166 71.15%);
}
.blueGradient {
  background: linear-gradient(105deg, #5886AE 12.57%, #7EBDE5 71.15%);
}
.glow-text{
  color: transparent;
  -webkit-text-stroke: 2px #EF84F5;
  font-weight: 700;
}